@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: all .5s; }

.container {
  width: 250px;
  height: 250px; }

/*.card__header--ul {
    font-style: inherit;
    font-size: 20px;
    margin: 10px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    
}

.card__header--login a{
    color: #fff;
}


.card__header {
    position: sticky;
    top: 0;
    border-radius: 15px ;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,190,1) 33%, rgba(144,200,212,1) 54%);
    grid-column: 1/-1;
}


.card__header--nav a {
    margin: 0 10px;
    color: #fff;
    font-weight: bold;

}

.card__header--nav a:hover{

color: rgb(22, 135, 228);
border: 5px solid black;
padding: 5px;

}
*/
.navbar {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #1616be 33%, #90c8d4 54%); }

.card__footer {
  border-radius: 10px;
  text-align: center;
  background: #eeaeca;
  background: linear-gradient(238deg, #eeaeca 0%, #94bbe9 100%);
  width: 100vw;
  height: 5rem;
  grid-column: 1/-1; }
  .card__footer--rrss .rs-contact {
    color: #fff;
    font-size: 20px; }
    .card__footer--rrss .rs-contact:hover {
      color: #0C17F9; }
  .card__footer--rrss .rs-whatsapp {
    color: #fff;
    font-size: 20px; }
    .card__footer--rrss .rs-whatsapp:hover {
      color: #1AF90C; }
  .card__footer--rrss .rs-youtube {
    color: #fff;
    font-size: 20px; }
    .card__footer--rrss .rs-youtube:hover {
      color: #F01D1D; }
  .card__footer--rrss .rs-twitter {
    color: #fff;
    font-size: 20px; }
    .card__footer--rrss .rs-twitter:hover {
      color: #32DBEF; }
  .card__footer li {
    display: inline; }
  .card__footer a {
    margin-top: 25%; }

body {
  background-color: #282c34;
  position: relative; }

.bodygod__title {
  border: 5px solid #111827;
  padding: 1%;
  text-align: center;
  border-radius: 20px; }

.bodygod__title:hover {
  font-size: 20px;
  background-color: #555555; }

.bodygod__img {
  border: 5px solid black;
  box-shadow: 0 25px 50px -10px black;
  border-radius: 15px; }

.bodygod__p1 {
  font-size: large;
  margin: 10px;
  border: 3px solid #bbb;
  padding: 5px;
  animation: joaquin 1s ease-in-out;
  width: 100%; }
  .bodygod__p1:hover {
    background-color: #424141;
    animation: joaquin 1s infinite; }

@keyframes joaquin {
  0% {
    transform: scale(1);
    font-size: large; }
  50% {
    transform: scale(1.1);
    font-size: x-large; }
  100% {
    transform: scale(1);
    font-size: large; }
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

.h2__form {
  margin: 10px;
  border-left: 10px solid aqua;
  border-right: 10px solid aqua;
  padding: 5px; }
  .h2__form:hover {
    border: 2px solid #e02f0f;
    text-align: center;
    padding-top: 100px;
    font-size: 30px; }

.div3__p {
  border: 10px solid #cdb500;
  padding: 15px;
  background-color: #535353;
  font-size: 20px; }

.Items {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Items ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; }
    .Items ul li {
      list-style: none;
      margin: 10px;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      background-color: #535353;
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-align: center; }
      .Items ul li:hover {
        background-color: black;
        color: white;
        font-size: 30px; }

.form__datos {
  border: 10px solid; }
  .form__datos:hover {
    box-shadow: 2px 6px 26px 13px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 2px 6px 26px 13px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 2px 6px 26px 13px rgba(0, 0, 0, 0.73);
    margin-top: 20px; }

.child1 {
  margin: 10px;
  padding: 5px; }

@media (max-width: 600px) {
  .bodygod__div {
    align-items: center;
    flex-direction: column; }
    .bodygod__divdiv:nth-child(2) {
      margin: 10px;
      border: 5px solid #111827;
      border-radius: 20px; }
    .bodygod__divdiv > p {
      padding: 5px; }
  .card__header {
    margin-bottom: 10px; }
    .card__header--ul {
      margin: 10px;
      padding: 10px;
      align-items: center;
      justify-content: center; }
    .card__header--login {
      display: none; } }

a {
  text-decoration: none; }

.card__div {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container-cards {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around; }

.card66 {
  border: 2px solid black;
  border-radius: 0.36rem;
  width: 20vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0; }

.image-card {
  width: 100%; }

.card:hover {
  box-shadow: 2px 6px 26px 13px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 2px 6px 26px 13px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 6px 26px 13px rgba(0, 0, 0, 0.73); }

.card__div h1 {
  border: 5px solid blue;
  border-radius: 8px;
  margin: 10px;
  padding: 5px; }

@media (max-width: 600px) {
  .card__div p {
    border: 5px solid #111827;
    border-radius: 20px;
    padding: 10px; }
  .card66 {
    width: 100%; }
  .container-cards {
    flex-direction: column;
    width: 100%; } }

.card__div h1:hover {
  padding: 15px;
  background-color: #b8bdb8;
  font-size: 20px; }

@media (max-width: 600px) {
  .card__div p {
    border: 5px solid #111827;
    border-radius: 20px;
    padding: 10px; }
  .card66 {
    width: 100%; }
  .container-cards {
    flex-direction: column;
    width: 100%; } }

a {
  text-decoration: none; }

p, h4 {
  margin-left: 20px;
  padding: 10px;
  text-align: center; }

h2 {
  margin: 10px;
  border-left: 20px solid #fff;
  padding-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
