a {
    text-decoration: none;
}

p, h4{
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

h2{
    margin: 10px;
    border-left: 20px solid #fff;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}