@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
    

li {
    display: inline;
}



body {
    background-color: #282c34;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;

}


.bodygod__title {
    border: 5px solid rgba(17, 24, 39, 1);
    padding: 1%;
    text-align: center;
border-radius: 20px;
grid-column: 1/-1;

}

.bodygod__title:hover{

font-size: 20px;
background-color: rgb(85, 85, 85);

}


.bodygod__img {
    @extend .container;
    @include margin (15px);
    display: inline;
    border: 5px solid black;
    box-shadow: 0 25px 50px -10px rgba(0, 0, 0, 1);
    border-radius: 15px;
    grid-column: 1/2;

}

.bodygod__p1 {
    font-size: large;


}



.bodygod__div {
    grid-column: 1/-1;
    display: flex;


}



.h2__form{
    @include margin (10px);
    border-left: 10px solid aqua;
    border-right: 10px solid aqua;
    padding: 5px;


    &:hover {
        border: 2px solid rgb(224, 47, 15);
        text-align: center;
        padding-top: 100px;
        font-size: 30px;
    }

}




.form__datos{
    border: 10px solid;
    
    &:hover{
        box-shadow: 2px 6px 26px 13px rgba(0,0,0,0.73);
        -webkit-box-shadow: 2px 6px 26px 13px rgba(0,0,0,0.73);
        -moz-box-shadow: 2px 6px 26px 13px rgba(0,0,0,0.73);
        margin-top: 20px;

    }

    }


    .child1{
        @include margin (10px);
        padding: 5px;
    }
@media(max-width:600px){
    .bodygod__div{
        align-items: center;
        flex-direction: column;

        &div:nth-child(2){

            @include margin (10px);
            border: 5px solid rgba(17, 24, 39, 1);
            border-radius: 20px;

        }

        &div>p{
            padding: 5px;
        }
    }
   
    .card__header{
        margin-bottom: 10px;

        &--ul{

            @include margin (10px);
            padding: 10px;
            align-items: center;
            justify-content: center;
            
        }      
        
        &--login{

            display: none;

        }

    }
    


    

}