.card__footer {
    border-radius: 10px;
    text-align: center;
    background: rgb(238,174,202);
    background: linear-gradient(238deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100vw;
    height: 5rem;
    grid-column: 1/-1;
    

    &--rrss{


        $iconSocialMedia: (
            contact: #0C17F9,
            whatsapp: #1AF90C,
            youtube: #F01D1D,
            twitter: #32DBEF,
        );


        // bucle

        @each $nameSocialMedia, $colorIcon in $iconSocialMedia {
            .rs-#{$nameSocialMedia}{
                color: #fff;
                font-size: 20px;
            

                &:hover{
                    color: $colorIcon;
                }
            }
        }

    }

    & li{
        display: inline;
    }

    & a{
        margin-top: 25%;
    }

}


