*{
    margin: 0%;
    padding: 0%;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition:all .5s;

}

// EXTENDS

.container{
    width: 250px;
    height: 250px;
}

// mixins

@mixin margin($margin) {

margin:$margin;

}

